.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App .columns-container {
  width: 82%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.App .columns-container .column {
  width: 48%;
  text-align: left;
}

.App .columns-container .column ul {
  padding-left: 30px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
